In [1]:
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np
from pandas import DataFrame

In [2]:
# train_data = pd.read_csv('train.csv',names=range(14))
# test_data = pd.read_csv('test.csv',names=range(13))

In [3]:
def Get_data(paths):
    train_path, test_path = paths[0], paths[1]
    train_data = pd.read_csv(train_path,names=range(14))
    test_data = pd.read_csv(test_path,names=range(13))
    return train_data,test_data
paths = ['train.csv','test.csv']
train_data, test_data = Get_data(paths)

In [4]:
labels = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status',
              'occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss',
              'hours_per_week', 'native_country']
train_data.columns = labels[:]
test_data.columns = labels[:13]

In [5]:
train_data=train_data.replace(to_replace='?',value=np.nan)#缺失值进行处理
test_data=test_data.replace(to_replace='?',value=np.nan)#缺失值进行处理
train_data

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,2,5,2,4,3,4,1,1,0,2,3,7,1,1
1,2,5,3,5,1,3,1,3,0,2,3,7,1,2
2,1,3,5,4,1,5,1,2,1,1,1,7,1,8
3,2,3,5,4,4,NaN,1,2,0,1,1,7,1,4
4,1,3,6,4,8,5,1,1,0,2,3,7,1,4
5,1,1,5,6,4,5,2,2,0,1,1,7,1,8
6,1,1,1,5,8,5,2,3,0,2,1,3,2,3
7,2,3,3,4,1,3,1,4,3,2,1,3,1,4
8,2,NaN,2,3,1,5,1,3,1,1,2,7,1,6
9,2,1,7,4,8,5,3,2,0,1,2,5,2,6
10,1,1,4,5,1,NaN,2,2,0,1,1,7,1,9
11,1,1,4,4,1,5,2,3,0,1,1,7,1,8
12,1,5,2,4,3,1,1,1,0,2,3,7,1,4
13,1,1,3,4,1,2,3,2,0,2,1,7,1,5
14,1,2,2,3,3,2,1,2,0,2,1,5,2,8
15,1,5,4,5,4,5,1,1,0,2,3,7,1,3
16,1,5,3,4,3,2,1,4,0,2,5,7,1,5
17,1,5,1,2,6,5,1,4,1,3,1,2,1,1
18,2,5,2,5,4,5,1,1,0,2,3,7,1,3
19,2,3,4,4,1,5,1,4,2,2,1,3,1,7
20,2,2,3,5,5,3,1,2,0,2,1,1,1,3
21,1,5,4,6,3,5,1,1,0,1,4,7,1,6
22,1,5,3,3,1,5,1,4,0,2,3,3,1,3
23,2,5,2,4,6,5,1,NaN,0,2,3,6,1,1
24,1,1,3,4,1,5,2,3,1,2,1,7,1,5
25,1,1,3,4,1,5,2,3,1,1,1,7,1,9
26,2,3,4,6,1,5,1,4,1,1,1,7,1,8
27,2,1,4,3,1,5,2,5,2,1,1,5,2,5
28,2,5,2,4,1,5,1,5,0,2,1,7,1,1
29,2,5,1,1,6,NaN,1,NaN,0,3,3,3,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7164,2,1,6,3,5,NaN,3,2,0,1,1,7,1,5
7165,1,2,3,5,1,3,2,2,0,2,3,7,1,8
7166,1,NaN,1,2,NaN,NaN,3,NaN,0,3,NaN,3,1,1
7167,1,4,7,5,8,5,1,1,0,1,1,7,1,8
7168,2,5,3,4,4,5,1,2,0,2,2,7,1,4
7169,1,1,3,5,1,5,3,2,0,2,3,8,1,5
7170,1,5,1,2,9,3,1,2,1,2,1,7,NaN,1
7171,2,1,7,3,5,5,3,2,0,1,1,7,1,2
7172,1,5,2,4,6,5,1,4,1,3,1,2,1,5
7173,2,5,2,4,9,5,1,5,0,3,1,7,1,7
7174,1,1,6,4,8,3,2,4,2,2,3,6,1,7
7175,1,5,3,4,1,3,1,1,0,1,1,7,1,8
7176,1,3,6,4,9,5,1,2,0,1,1,7,NaN,9
7177,1,5,1,2,6,4,1,NaN,0,3,NaN,NaN,1,1
7178,1,1,5,6,8,3,3,9,2,1,1,7,1,9
7179,1,1,5,5,1,5,3,2,0,1,1,7,1,6
7180,1,1,5,1,NaN,NaN,2,3,1,2,1,5,2,2
7181,2,1,3,4,4,5,2,4,2,2,1,3,1,4
7182,2,4,4,4,5,5,1,5,4,1,1,7,1,7
7183,2,4,7,3,8,5,1,1,0,2,NaN,7,NaN,2
7184,1,1,3,4,3,5,2,4,2,2,3,5,1,5
7185,1,5,1,2,6,5,1,3,1,3,3,3,1,1
7186,1,5,2,4,6,1,1,3,0,3,1,7,1,3
7187,1,1,5,3,3,5,2,5,1,1,1,7,1,7
7188,2,5,2,3,4,1,1,1,0,2,3,7,1,2
7189,1,1,4,2,3,5,2,6,2,1,1,3,1,4
7190,2,5,2,5,6,2,1,4,0,3,1,2,1,2
7191,2,1,7,3,8,NaN,3,2,0,1,2,7,1,9
7192,2,5,1,2,6,2,1,4,2,3,1,7,1,1
7193,1,3,4,4,1,3,1,1,0,NaN,3,5,2,7

In [6]:
def Feature_encode(data):
    for feature in data.columns:
        if data[feature].dtype == 'object':
            data[feature] = pd.Categorical(data[feature]).codes
    return data

In [7]:
train_data = Feature_encode(train_data)
test_data = Feature_encode(test_data)

In [8]:
from sklearn import tree
X_train = train_data.iloc[:,:-1]
y_train = train_data.iloc[:,-1]
clf = tree.DecisionTreeClassifier(splitter='random')
clf.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='random')

In [9]:
y_pred = clf.predict(test_data.iloc[:])
X_test = test_data.iloc[ :,:13]
y_test = test_data.iloc[:,-1]
clf.score(X_test,y_test)

0.02335928809788654